@font-face {
  font-family: 'National-Bold';
  src: url(../fonts/National-Bold.otf);
}

@font-face {
  font-family: 'National-Book';
  src: url(../fonts/National-Book.otf);
}

@font-face {
  font-family: 'National-Regular';
  src: url(../fonts/National-Regular.otf);
}