/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'National-Bold';
  src: url(../fonts/National-Bold.otf); }

@font-face {
  font-family: 'National-Book';
  src: url(../fonts/National-Book.otf); }

@font-face {
  font-family: 'National-Regular';
  src: url(../fonts/National-Regular.otf); }

.slider {
  margin: 50px;
  background: #003981; }
  .slider__content {
    display: flex; }
    .slider__content__photos {
      width: 42%;
      overflow: hidden; }
      .slider__content__photos__list {
        display: flex; }
        .slider__content__photos__list__item {
          width: 100%; }
          .slider__content__photos__list__item img {
            width: -webkit-fill-available;
            display: block; }
    .slider__content__info {
      padding: 230px 0 0 120px;
      position: relative; }
      .slider__content__info__button {
        position: absolute;
        top: 90px;
        right: -13%; }
      .slider__content__info__title {
        position: absolute;
        top: 67px;
        left: -50px;
        width: 0; }
        .slider__content__info__title:before {
          content: '';
          position: absolute;
          border-radius: 3px;
          width: 60px;
          height: 3px;
          background-color: #FFF;
          right: calc(100% + 35px);
          top: 35px; }
      .slider__content__info__description {
        max-width: 240px; }
      .slider__content__info__team__list {
        margin-top: 100px; }
        .slider__content__info__team__list__item {
          display: flex;
          align-items: center;
          position: relative;
          margin-bottom: 25px; }
          .slider__content__info__team__list__item:last-child {
            margin-bottom: 0; }
          .slider__content__info__team__list__item__loader, .slider__content__info__team__list__item__name {
            margin-right: 23px; }
          .slider__content__info__team__list__item__loader {
            position: absolute;
            top: 50%;
            left: 0;
            width: 47px;
            height: 1px;
            overflow: hidden;
            background-color: #8A99C0; }
          .slider__content__info__team__list__item__name {
            margin-left: 70px; }

.button {
  position: absolute;
  padding: 18px 20px 18px 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
  color: #363F54;
  font-family: 'National-Bold', sans-serif;
  font-size: 14px; }

body {
  -webkit-font-smoothing: antialiased; }

h1 {
  color: white;
  font-family: 'National-Bold', sans-serif;
  font-size: 42px;
  line-height: 51px; }

p {
  color: #8a99c0;
  font-family: 'National-Regular', sans-serif;
  font-size: 18px;
  line-height: 24px; }

.upper {
  text-transform: uppercase; }

.bold {
  font-family: 'National-Bold', sans-serif; }

.blue {
  color: #8a99c0; }

.hide {
  display: none; }
